<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Create a Custom Postcard!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <h1>MadLibs Vacation!</h1>
    <p>A vacation is when you take a trip to some @Model. place</p>
    <p>with your @Model. family. Usually you go to some place</p>
    <p>that is near a/an @Model. or up on a/an @Model..</p>
    <p>A good vacation place is one where you can ride @Model.</p>
    <p>or play @Model. or go hunting for @Model. . I like</p>
    <p>to spend my time @Model. or @Model..</p>
    <p>When parents go on a vacation, they spend their time eating</p>
    <p>three @Model. a day, and fathers play golf, and mothers</p>
    <p>sit around @Model.. Last summer, my little brother</p>
    <p>fell in a/an @Model. and got poison @Model. all</p>
    <p>over his@Model.. My family is going to go to (the)</p>
    <p>@Model., and I will practice @Model.. Parents</p>
    <p>need vacations more than kids because parents are always very</p>
    <p>@Model. and because they have to work @Model. </p>
    <p>hours every day all year making enough @Model. to pay</p>
    <p>for the vacation.</p>
  </body>
</html>
