<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>MadLibs Vacation!</h1>
    <p>A vacation is when you take a trip to some @Model.Adj1 place</p>
    <p>with your @Model.Adj2 family. Usually you go to some place</p>
    <p>that is near a/an @Model.Noun1 or up on a/an @Model.Noun2.</p>
    <p>A good vacation place is one where you can ride @Model.PluralNoun1</p>
    <p>or play @Model.Game1 or go hunting for @Model.PluralNoun2 . I like</p>
    <p>to spend my time @Model.VerbIng1 or @Model.VerbIng2 .</p>
    <p>When parents go on a vacation, they spend their time eating</p>
    <p>three @Model.PluralNoun3 a day, and fathers play golf, and mothers</p>
    <p>sit around @Model.VerbIng3 . Last summer, my little brother</p>
    <p>fell in a/an @Model.Noun3 and got poison @Model.Plant1 all</p>
    <p>over his @Model.Body1 . My family is going to go to (the)</p>
    <p>@Model.Place1 , and I will practice @Model.VerbIng4 . Parents</p>
    <p>need vacations more than kids because parents are always very</p>
    <p>@Model.Adj3 and because they have to work @Model.Number </p>
    <p>hours every day all year making enough @Model.PluralNoun4 to pay</p>
    <p>for the vacation.</p>
  </body>
</html>
